<div class="bg-white mt-10 border-2 rounded-sm p-5">
  <h1 class="text-3xl pb-1 font-semibold text-blue-900 border-b-4 border-blue-900">Uploaded Documents</h1>

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="flex flex-col mt-5">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-400 sm:rounded">
          <table class="min-w-full border divide-y divide-gray-border-gray-400">
            <thead class="bg-blue-900">
              <tr>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Documents Name
                </th>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Uploaded By
                </th>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Date
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">View</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-border-gray-400">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  National ID Card
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  Mizanur Rahman
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  May 2022
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">
                    Download
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <form class="grid grid-cols-1 gap-x-5 gap-y-4 my-5 rounded" action="">
    <div class="">
      <label class="block mb-1 font-semibold" for="text">Documents Type:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="">
      <input class="form-input px-4 py-2 w-full rounded-sm" type="file" name="name" id="name">
    </div>

    <div class="justify-self-end flex gap-4">
      <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
        Next: Student Information
        <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
  </form>


</div>
