<div class="bg-white mt-10 border-2 rounded-sm p-5">
    <h1 class="text-3xl pb-1 font-semibold text-blue-900 border-b-4 border-blue-900">Application Status</h1>
    <ul class="mt-5 grid grid-cols-3">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6 stroke-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Application Submission
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6 stroke-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Conditional Offer letter ready
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6 stroke-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Unconditional Offer letter ready
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6 stroke-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Payment Done
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-red-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            University Interview
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-red-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            CAS Issued</li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-red-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Enrollment</li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-gray-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            VISA</li>
    </ul>
  </div>
  