<div class="bg-white mt-2 border-2 rounded-sm p-5">
  <form class="grid grid-cols-1 gap-x-5 gap-y-4 my-5 rounded" action="">


    <div class="">
      <label class="block mb-1 font-semibold" for="text">University Name:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">University of Bedfordshire</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Course Level:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Foundation</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Course Name:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="justify-self-end flex gap-4">
      <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
        Next: Student Information
        <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
  </form>
</div>
