<app-navbar></app-navbar>
<div class="flex bg-slate-100">
    <app-sidebar></app-sidebar>
    <div class="container">
        <app-application-filter></app-application-filter>
        <app-application-list></app-application-list>
    </div>
</div>