<div class="w-64 h-screen bg-blue-900">
    <ul class="py-5">
        <li routerLink="/dashboard" routerLinkActive="border-l-4 bg-blue-800" class="py-2 px-2 text-white hover:bg-blue-400 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
            </svg>
            <a>Dashboard</a></li>
        <li routerLink="/profile" routerLinkActive="border-l-4 bg-blue-800" class="py-2 px-2 text-white hover:bg-blue-400 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
            <a >Profile Information</a></li>
        <li routerLink="/change-password" routerLinkActive="border-l-4 bg-blue-800" class="py-2 px-2 text-white hover:bg-blue-400 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
              </svg>
            <a >Change Password</a></li>
        </ul>
        <a routerLink="/new-application" class="block my-3 bg-red-500 px-2 py-3 mx-5 text-center text-white font-semibold rounded-sm" >New Application</a>
        <a routerLink="/application-history" class="block my-3 bg-red-500 px-2 py-3 mx-5 text-center text-white font-semibold rounded-sm" >Application History</a>
</div>
