<div class="bg-white mt-2 border-2 rounded-sm p-5">
  <form class="grid grid-cols-1 gap-x-5 gap-y-4 my-5 rounded" action="">
    <div class="">
      <label class="block mb-1 font-semibold" for="name">Student Full Name:</label>
      <input class="form-input px-4 py-2 w-full rounded-sm" type="text" name="name" id="name">
    </div>

    <div class="">
        <label class="block mb-1 font-semibold" for="email">Student Email:</label>
        <input class="form-input px-4 py-2 w-full rounded-sm" type="email" name="email" id="email">
    </div>

    <div class="">
        <label class="block mb-1 font-semibold" for="phone-number">Student Phone Number:</label>
        <input class="form-input px-4 py-2 w-full rounded-sm" type="number" name="phone-number" id="phone-number">
    </div>

    <div class="">
        <label class="block mb-1 font-semibold" for="date_of_birth">Student Date of Birth:</label>
        <input class="form-input px-4 py-2 w-full rounded-sm" type="date" name="date_of_birth" id="date_of_birth">
    </div>    

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Student has any Visa Refusal:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">No</option>
        <option value="saab">Yes</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Nationality:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">University of Bedfordshire</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="justify-self-end flex gap-4">
      <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
        Next: Student Information
        <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
  </form>
</div>
