<app-navbar></app-navbar>

<div class="container grid grid-cols-5 my-10">
    <h1 class="col-span-5 text-xl font-semibold mb-5">Please Login to Continue</h1>
    <form class="col-span-2 bg-gray-200 p-7 rounded" action="">
        <div class="mb-5">
            <label class="block mb-1 font-semibold" for="email">Email:</label>
            <input class="form-input px-4 py-2 w-full rounded-sm" type="text" name="email" id="email">
        </div>

        <div class="mb-5">
            <label class="block mb-1 font-semibold" for="password">Password: 
                <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                  </svg>
            </label>
            <input class=" form-input px-4 py-2 w-full rounded-sm" type="password" name="password" id="password">
        </div>

        <div class="flex gap-4">
            <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">Login</button>
            <a class="self-center" href="">Forgot Password?</a>
        </div>
    </form>
</div>