<app-navbar></app-navbar>
<div class="flex bg-slate-100">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="bg-white mt-10 border-2 rounded-sm p-5">
      <h1 class="text-3xl pb-1 font-semibold text-blue-900 border-b-4 border-blue-900">
        Change Password
      </h1>
      <form class="grid grid-cols-2 gap-x-5 gap-y-4 my-5 rounded" action="">

        <div class="col-span-2">
          <label class="block mb-1 font-semibold" for="id">Current Password</label>
          <input class="form-input px-4 py-2 w-full rounded-sm" type="password" name="id" id="id">
        </div>

        <div class="">
          <label class="block mb-1 font-semibold" for="id">New Password</label>
          <input class="form-input px-4 py-2 w-full rounded-sm" type="password" name="id" id="id">
        </div>

        <div class="">
          <label class="block mb-1 font-semibold" for="id">Confirm New Password</label>
          <input class="form-input px-4 py-2 w-full rounded-sm" type="password" name="id" id="id">
        </div>

        <div class="col-span-2 justify-self-end flex gap-4">
          <p class="self-center">Your Password will change</p>
          <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
            </svg>
            Change Passsword
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
