<div class="bg-white mt-10 border-2 rounded-sm p-5">
  <h1 class="text-3xl pb-1 font-semibold text-blue-900 border-b-4 border-blue-900">Application Filter</h1>
  <form class="grid grid-cols-2 gap-x-5 gap-y-4 my-5 rounded" action="">
    <div class="">
      <label class="block mb-1 font-semibold" for="id">Student ID:</label>
      <input class="form-input px-4 py-2 w-full rounded-sm" type="number" name="id" id="id">
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Student Name:
      </label>
      <input class=" form-input px-4 py-2 w-full rounded-sm" type="text" name="text" id="text">
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Course Name:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">University Name:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Course Level:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="">
      <label class="block mb-1 font-semibold" for="text">Application Status:
      </label>
      <select class=" form-input px-4 py-2 w-full rounded-sm" name="text" id="text">
        <option value="volvo">Student1</option>
        <option value="saab">Student2</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <div class="flex gap-4">
      <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
        </svg>
        Filter Applications
      </button>
    </div>
  </form>
</div>
