<div class="bg-white mt-2 border-2 rounded-sm p-5">
    <div class="flex flex-col mt-5">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden border-b border-gray-400 sm:rounded">
              <table class="min-w-full border divide-y divide-gray-border-gray-400">
                <thead class="bg-blue-900">
                  <tr>
                    <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                      Message
                    </th>
                    <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                      Name
                    </th>
                    <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                      Type
                    </th>
                    <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                      Date
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-border-gray-400">
                  <tr>
                    <td class="px-6 py-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum dignissimos rerum consequatur, aliquid inventore obcaecati, assumenda perferendis adipisci dolor impedit? Nam tempore aperiam vitae eveniet quas possimus molestias accusantium!
                      </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      Vishal Bhatt
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        Application Submitted
                      </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm">
                      May 2022
                    </td>
                  </tr>
    
                  <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  <form class="grid grid-cols-1 gap-x-5 gap-y-4 my-5 rounded" action="">
    <div class="">
      <label class="block mb-1 font-semibold" for="id">Add New Message:</label>
      <textarea class="w-full resize-y rounded-sm"></textarea>
    </div>

    <div class="justify-self-end flex gap-4">
      <button class="self-center bg-blue-900 text-white rounded-sm p-2" type="submit">
        Send New Message
      </button>
    </div>
  </form>
</div>
