<div class="w-100 py-5 border-b-2">
    <div class="container flex justify-between">
        <img class="h-10" src="assets\img\H&H logo.png" alt="">
        <ul class="self-center flex gap-5">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/login">Logout</a></li>
        </ul>
    </div>
</div>