<app-navbar></app-navbar>
<div class="flex bg-slate-100">
    <app-sidebar></app-sidebar>
    <div class="container">

        <app-application-status></app-application-status>

        <div class="flex gap-x-5 bg-white mt-10 border-2 rounded-sm pt-5 px-5 pb-2">
            <div (click)="step(1)" [ngClass]="true ? 'border-blue-900' : 'border-gray-200'" class="border-b-2 px-3 pb-1 hover:cursor-pointer">
                <h3 class="font-medium text-blue-900">Student Details</h3>
            </div>

            <div (click)="step(2)" [ngClass]="true ? 'border-blue-900' : 'border-gray-200'" class="border-b-2 px-3 pb-1 hover:cursor-pointer">
                <h3 class="font-medium text-blue-900">Course Details</h3>
            </div>

            <div (click)="step(3)" [ngClass]="true ? 'border-blue-900' : 'border-gray-200'" class="border-b-2 px-3 pb-1 hover:cursor-pointer">
                <h3 class="font-medium text-blue-900">Documents</h3>
            </div>

            <div (click)="step(4)" [ngClass]="true ? 'border-blue-900' : 'border-gray-200'" class="border-b-2 px-3 pb-1 hover:cursor-pointer">
                <h3 class="font-medium text-blue-900">Message</h3>
            </div>

        </div>

        <div *ngIf="steps==3">
            <app-student-documents></app-student-documents>
        </div>
        <div *ngIf="steps==4">
            <app-messages></app-messages>
        </div>
    </div>
</div>