<app-navbar></app-navbar>
<div class="flex bg-slate-100">
    <app-sidebar></app-sidebar>
    <div class="container">
      <app-profile-form></app-profile-form>  
      <app-agent-documents></app-agent-documents>
    </div>
</div>